@use '../../scss/abstract/variables' as *;

.tags_details__wrapper {
  display: flex;
  gap: .5em;
  bottom: 5vw;
  right: 5vw;
  position: absolute;
  z-index: 1000;
}

.tag__wrapper {
  outline: 1px solid $white;
  padding: .3em 1em;
  border-radius: 10rem;
  line-height: 1;
  backdrop-filter: blur(3px);

  .tag {
    font-weight: 400;
    font-size: clamp(.8em, 2vw, 1em);
  }
}

@media screen and (min-width:480px) {

  .tags_details__wrapper {
    bottom: 1vw;
    right: 1vw;
  }
}