@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

:root {
  --dark_blue: #0E1C36;
  --yellow: #ECAB3F;
  --white: #D9D9D9;
  --light_blue: #192C4F;
  --grey: #9FA8A9;
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
  
body {
  background-color: var(--dark_blue);
  position: relative;
}

main,
nav {
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
}

a {
  color: var(--white);
  text-decoration: none;
}

.auto-grid {
  --min-column-size: 10rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,
      minmax(min(var(--min-column-size), 100%), 1fr));
}

@media screen and (min-width: 800px) {

  main,
  nav {
    max-width: 80vw;
  }
}