@use '../../scss/abstract/variables' as *;

.searchbar__wrapper {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    background-color: $light_blue;
    box-shadow: $shadow;
    border-radius: 20em;
    padding: 5px 25px;
    max-width: 300px;
    width: 100%;

    button {
      background-color: transparent;
      border: none;
      margin-top: 4px;
    }

    input {
      color: $white;
      font-weight: 300;
      background-color: transparent;
      border: none;
      margin: 0 10px;
    }

    input:focus {
      outline: none;
    }
  }
}