@use '../../scss/abstract/variables' as *;

.searchbar__wrapper {
  display: flex;
  justify-content: center;

  form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    background-color: $light_blue;
    box-shadow: $shadow;
    border-radius: 20em;
    padding: 5px 25px;
    max-width: 300px;
    width: 100%;

    button {
      background-color: transparent;
      border: none;
      margin-top: 4px;
      z-index: 10;
    }

    input {
      z-index: 10;
      color: $white;
      font-weight: 300;
      background-color: transparent;
      border: none;
      margin: 0 10px;
    }

    input:focus {
      outline: none;
    }
  }

  .list-result__wrapper {
    z-index: 9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-width: 300px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-color: $light_blue;
    list-style: none;
    top: 18px;
    left: 0;
    padding-bottom: .5em;
    display: flex;
    flex-direction: column;
    gap: .3em;

    a {
      font-size: clamp(.8em, 2vw, 1em);
      display: flex;
      align-items: center;
      height: fit-content;

    }

    a:first-of-type {
      margin-top: 37px;
    }

    a:hover {
      color: $yellow;
      background-color: $dark_blue;
      transition: ease .2s;
    }

    img {
      max-width: 50px;
      margin: 0 5px;
      width: 100%;
      border-radius: 5px;
    }
  }
}