@use '../../scss/abstract/variables' as *;

@media screen and (min-width: 800px) {

  nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    width: 100%;
    background-color: #262936;
  }
}

.nav-sm {
  max-width: 90vw;
}

.nav-lg {
  max-width: 80vw;

  .background {
    top: 70px;
  }
}

.nav-lg,
.nav-sm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 70px;

  .background {
    z-index: 99;
    position: fixed;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.521);
  }

  .logo__wrapper {
    display: flex;
    max-width: 25%;
    width: 100%;
  }

  .searchbar__wrapper {
    max-width: 50%;
    width: 100%;
  }

  .nav-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    font-size: clamp(.9rem, 2vw, 1rem);
    max-width: 25%;
    width: 100%;
    gap: 1vw;

    :last-child {
      color: $yellow;
    }

    .nav-link {
      flex-wrap: nowrap;
    }

    button {
      color: $white;
      border: none;
      background-color: transparent;
      font-size: clamp(.9rem, 2vw, 1rem);
      cursor: pointer;
    }
  }

}

.nav-sm {
  display: flex;
  justify-content: space-between;

  .background {
    top: 0;
  }

  button {
    border: none;
    background-color: transparent;
  }

  .menu__wrapper {
    z-index: 1000;
    display: flex;
    position: fixed;
    width: 33%;
    background-color: $light_blue;
    animation: slidein .2s ease-in-out;
    right: 0;
    top: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    .menu {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
      padding: 2em;
      gap: 2em;

      a,
      button {
        color: $white;
        font-weight: 600;
        font-size: clamp(24px, 4vw, 32px);

        img {
          width: 100%;
        }
      }

      .user_section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: .5em;

        .user_logo {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: $grey;
        }

        p {
          font-size: 1.2em;
          color: $white;
        }
      }

      :last-child {
        color: $yellow;
      }
    }
  }

  @keyframes slidein {
    from {
      transform: translateX(300px);
    }

    to {
      transform: translateX(0px);
    }
  }

}

.watchlist--modal {
  position: absolute;
  width: 100%;
  right: 0;
  top: 70px;
  background-color: #262936;
  animation: slidefromTop .2s;
  z-index: 10001;

  @keyframes slidefromTop {
    from {
      transform: translateY(-70px);
    }

    to {
      transform: translateY(0);
    }
  }
}
