@use '../../../scss/abstract/variables' as *;

.search_card__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  color: $white;
  line-height: 1;
  border-radius: 5px;
  background-color: $light_blue;
  box-shadow: $shadow;

  &>div:not(.search_card--img) {
    display: flex;
    flex-direction: column;
    padding-right: .5em;
  }

  .search_card--img {
    grid-area: 1 / 1 / 6 / 2;
    margin-right: .5em;
    border-radius: inherit;

    img {
      aspect-ratio: 2/3;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: inherit;
    }
  }
}

.search_card__header {
  grid-area: 1 / 2 / 3 / 3;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding-top: .2em;

  h3 {
    line-height: .9;
    justify-content: center;
    font-size: clamp(22px, 1vw, 30px);
    font-weight: 700;
    letter-spacing: -.5px;
    overflow-y: hidden;
  }

  p {
    font-size: clamp(10px, 1vw, 14px);
    color: $grey;
    font-weight: 300;
    margin-top: .3em;
  }
}

.search_card__body {
  grid-area: 3 / 2 / 5 / 3;
  flex-direction: column;
  justify-content: space-evenly;

  .tmdb-notes {
    display: flex;
    flex: 1;
    align-items: center;
    gap: .5em;
    max-height: 40px;
    height: 100%;

    img {
      max-height: 15px;
      height: auto;
    }

    p {
      font-size: clamp(13px, 3vw, 15px);
      color: $yellow;
    }
  }

  .tags {
    display: flex;
    gap: .5em;
    flex: 1;
    align-items: center;

    .tag {
      font-size: clamp(7px, 2vw, 9px);
      font-weight: bold;
      padding: .5em 1em;
      border: .5px $white solid;
      background-color: $dark-blue;
      border-radius: 1em;
      height: fit-content;
    }
  }

}

.search_card__footer {
  grid-area: 5 / 2 / 6 / 3;
  justify-content: center;

  .watch-providers {
    display: flex;
    gap: .5em;
  }
}