@use '../../scss/abstract/variables' as *;

.form-container {
  h1 {
    font-size: clamp(1.7rem, 6vw, 3rem);
    font-weight: 700;
    text-align: center;
    color: $yellow;
    padding: 2rem;
    margin: 2rem 0;
  }

  h6 {
    font-size: clamp(1.1rem, 4vw, 1.5rem);
    font-weight: 400;
    color: $white;
    text-align: center;
    margin: 1rem 0;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    color: $yellow;
    text-align: center;
    margin: 2rem 0;

    a {
      margin-top: 2rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: $grey;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $yellow;
      }
    }

  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-size: 1.2rem;
    font-weight: 400;
    color: $white;
    margin: 0.5rem 0;
  }

  .submit {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: $yellow;
    color: $dark_blue;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $light_blue;
      color: $white;
    }
  }
}

#email,
#password,
#password-confirmation,
#username {
  color: $white;
  background-color: $light_blue;
  font-weight: 300;
  border: none;
  height: 2rem;
  width: 75%;
  max-width: 300px;
  border-radius: 20px;
  padding: 5px 25px;
  margin-bottom: 1.5rem;

  &:focus {
    outline: none;
  }
}