@use './scss/base_style' as *;
@use './scss/navbar' as *;
@use './scss/signup' as *;
@use './components/Searchbar/searchbar';

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
