@use '../../../scss/abstract/variables' as *;

.home_page__wrapper {
  width: fit-content;
  height: inherit;
  border-radius: 10px;
  
  position: relative;



  a {
    display: none;
  }

  img {
    scale: .9;
    border-radius: inherit;
    max-width: 300px;
    
    filter: blur(2px) brightness(50%);

  }

  button {
    visibility: hidden;
    width: 50px;
    background: transparent;
    border: 0;
    position: absolute;
    top: 1vw;
    right: 1vw;
    z-index: 100;
    cursor: pointer;

  }
}

.selected img,
.selected button {
  padding: 0;
  scale: 1;
  filter: none;
  transition: .2s ease-in-out;

}

.selected a {
  position: absolute;
  font-size: 0;
  display: block;
  height: 100%;
  width: 100%;
  color: $dark_blue;
  border-radius: 10px 10px 0 0;
  box-shadow: $shadow;
}

.selected button {
  visibility: visible;

}
